
*{
    box-sizing: border-box;
    margin:0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
    display:inline;
    font-weight:bold ;
}
 a{

    text-decoration: none;
    color: white;
    text-transform: uppercase;
    
    }
body{
 background-image:url("../img/bg-2.png")
}


body header{
    background-color:orangered;
    width:100%;
    
    padding: 20px;
    overflow:hidden ;
    position:fixed;
    z-index: 1;
    top:0px;
    
    }

     header img{
        float:left;
        
        }
         header ul.lista1{
            float:left;
            padding: 10px;
        }
       header ul.lista2{
            float: right;
            padding: 10px;
        }

        header  li{
            float:left;
            padding: 10px;
        }
        main{
            margin-top:100px;
            margin-left:35%;
        }

        p.obligatorio{
            color:red;
        }
        #comentario{
            width:30%;
            height:100px ;
        }

        .botones1{

            background-color: blue;
          color:white;
            width:20%;
          height:35px ;
          border-radius: 5px;
        }
        .botones2{

            background-color: blue;
            color:white;
            width:20%;
            height:35px ;
            border-radius: 5px;
        }
